@font-face {
    font-family: "iconfont"; /* Project id 3373744 */
    src: url('//at.alicdn.com/t/font_3373744_rtlhbrl5uu.woff2?t=1652775431960') format('woff2'),
    url('//at.alicdn.com/t/font_3373744_rtlhbrl5uu.woff?t=1652775431960') format('woff'),
    url('//at.alicdn.com/t/font_3373744_rtlhbrl5uu.ttf?t=1652775431960') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-icon_category:before {
    content: "\e61e";
    color: #fff;
    margin-right: 4px;
    font-size: 18px;
}

.icon-zhuye:before {
    content: "\e65d";
    color: #fff;
    margin-right: 4px;
    font-size: 18px;
}

.icon-tag:before {
    content: "\e885";
    color: #fff;
    margin-right: 4px;
    font-size: 18px;
}

.icon-danganwenwu:before {
    content: "\e8bc";
    color: #fff;
    margin-right: 4px;
    font-size: 18px;
}

.icon-lianjie:before {
    content: "\e612";
    color: #fff;
    margin-right: 4px;
    font-size: 18px;
}

.icon-github:before {
    content: "\e709";
    font-size: 25px;
    padding: 0 18px;
}

.icon-QQ:before {
    content: "\e882";
    font-size: 25px;
    padding: 0 18px;
}

.icon-email:before {
    content: "\e724";
    font-size: 25px;
    padding: 0 18px;
}

.icon-dengpao:before {
    content: "\e6d8";
}

.icon-yonghu:before {
    content: "\e8c8";
    margin-right: 5px;
    font-size: 16px;
}

.icon-shijian:before {
    content: "\e638";
    font-size: 16px;
    margin-right: 3px;
}

.icon-tianchongxing-:before {
    content: "\e640";
    margin-right: 5px;
}

.icon-card-tag-copy:before {
    content: "\ebb2";
}

.icon-icon_category-copy:before {
    content: "\ebb3";
}

.icon-gonggao:before {
    content: "\e606";
}

.icon-jia_sekuai:before {
    content: "\ed21";
}

.icon-xiangshang:before {
    content: "\e601";
    font-size: 20px;
}

.icon-chahao:before {
    content: "\e668";
}

.icon-denglu:before {
    content: "\e603";
}